*{
    font-family: 'Courier New', Courier, monospace;
}

#title-bg{

    align-items: center;
    justify-content: center;
    display: flex;
    flex: 1;
}

#play-btn{
    background-color: aquamarine; 
    border-color:#a006f9; 
    color: #a006f9; 
    font-weight: 800;
}

#play-nav{

    width: 100px;
    display: flex;
    float: right;
    align-items: center;
    justify-content: center;
}

#padding{

    padding: 50px;
}

#user-img{

    float: left;
}

#account-btn{

    display: flex;
    align-items: center;
}

#WL-Ratio-Wrap{
    display:flex;
    padding-left: 50px;
}

#Active-Games{
    background-color: red;
}

#Active-Game-Row{
    border-width: 3px;
    border-color: black;
}