*{
    font-family: 'Courier New', Courier, monospace;
}

#title-bg{

    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex: 1;
    width:45%;
    margin:auto;
    margin-top: 20px;
    border-radius: 30px;
}

#account-nav{

    width: 100px;
    display: flex;
    float: right;
    align-items: center;
    justify-content: center;
}

#padding{

    padding: 50px;
}

#user-img{

    float: left;
}

#account-btn{

    display: flex;
    align-items: center;
    background-color: #A5F7FA; 
    border-color:#BAA1F0; 
    color: #BAA1F0; 
    font-weight: 800;
}

#color-selector-wrap1, #color-selector-wrap2{
    margin: auto;
    width: 200px;
    text-align: center;
    display: flex;
    flex-direction:column;
}

#Zaffre1, #Zaffre2{
    background-color: #0014A8;
    color: white;
}
#Australien1, #Australien2{
    background-color: #CC9911;
    color: white;
}
#Drunk-Tank-Pink1, #Drunk-Tank-Pink2{
    background-color: #FF91AF;
    color: white;
}
#Falu1, #Falu2{
    background-color: #801818;
    color: white;
}
#Drake’s-Neck-Green1, #Drake’s-Neck-Green2{
    background-color: #08B07C;
    color: white;
}
#Razzmatazz1, #Razzmatazz2{
    background-color: #E3256B;
    color: white;
}
#Caput-Mortuum1, #Caput-Mortuum2{
    background-color: #592720;
    color: white;
}
#Goose-Turd-Green1, #Goose-Turd-Green2{
    background-color: #4EA809;
    color: white;
}
#Lusty-Gallant1, #Lusty-Gallant2{
    background-color: #FD7F4F;
    color: white;
}
#Glaucous1, #Glaucous2{
    background-color: #6082B6;
    color: white;
}
#Milk-and-Water1, #Milk-and-Water2{
    background-color: #F6F6FF;
    color: black;
}
#Puke1,#Puke2{
    background-color: #947706;
    color: white;
}
#Gingerline1, #Gingerline2{
    background-color: #FCCB4F;
    color: white;
}

#scores{
    width: 400px;
    height: 150px;
    margin: auto;
    display: none;
}

.score{
    height: 110px;
    width: 150px;
    background-color: #A5F7FA;
    border-style: solid;
    border-color: #BAA1F0;
    margin: auto;
    text-align: center;
}

.score-text{
    font-weight: bold;
    font-size: x-large;
}

.score-number{
    font-weight: bold;
}

#playspace{
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-left: 20px; 
    margin-right: 20px;
    display: flex;
    z-index: -2;
    border-style:solid;
    border-width: 10px;
    background-color: #A5F7FA;
}

#click-area{
    width: 60px;
    height: 60px;
}

#dot{
    z-index: 1;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px; 
    left: 20px;
}

#dot-circle{
    cx: 10px;
    cy: 10px;
    r: 10px;
    fill: black;
}

#dash-vert{
    position: absolute;
    z-index: 0;
    width: 15px;
    height: 70px;
    left: 23px;
    top: 25px;
}

#dash-hor{
    position: absolute;
    z-index: 0;
    width: 70px;
    height: 15px;
    top: 23px;
    left: 25px;
}

#dash-vert-rect{
    width: 15px;
    height: 70px;
    stroke-width: 3px;
    fill: none;
}

#dash-hor-rect{
    width: 70px;
    height: 15px;
    stroke-width: 3px;
    fill: none;
}

#claim-square{
    position: absolute;
    z-index: 0;
    width: 75px;
    height: 75px;
    top: 23px;
    left: 23px;
}

#claim-square-rect{
    width: 75px;
    height: 75px;
    stroke-width: 3px;
    fill: none;
}

.dash{
    transition: background-color .25s ease-in-out;
}

.dash:hover{
    background-color: darkslategrey !important;
}

footer{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#SS-Alert{
    display:none;
}

@media (max-width: 600px){

    #playspace{
        display: none;
    }

    #SS-Alert{

        display:flex;
    }
}