*{
    font-family: 'Courier New', Courier, monospace;
}

#title-bg{

    align-items: center;
    justify-content: center;
    display: flex;
    flex: 1;
}

#account-nav{

    width: 100px;
    display: flex;
    float: right;
    align-items: center;
    justify-content: center;
}

#padding{

    padding: 50px;
}

#user-img{

    float: left;
}

#account-btn{

    display: flex;
    align-items: center;
}

#playspace{
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    display: flex;
}